.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    display: flex;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
    margin-top: 100px;
}
h1 {
    font-size: 42px;
    color: #000000;
    width: 378px;
    margin-top: 18px;
}

textarea {
    width: 720px;
    height: 288px;
    margin-top: 239px;
    margin-left: -390px;
    background-color: #f8f8f8;
    resize: none;
    padding: 20px 40px;
    font-size: 13px;
}
.input1 {
    margin-top: 239px;
}
input {
    width: 352px;
    height: 60px;
    background-color: #f8f8f8;
    padding: 20px 24px;
    font-size: 13px;
    margin: 7px
}
input [submit] {
    background-color:  #5863f8;
    color: #5863f8
    text-align: center;
}
.section2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.email {
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863f8;
    margin-bottom: 20px;
}
.phone {
    border: 4px solid #5863f8;
    border-radius: 50%;
    background-color: #5863f8;
    margin-bottom: 20px;
}
.location {
    border: 4px solid #5863f8;
    border-radius: 50%;
    background-color: #5863f8;
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 9px;
    font-size: 19px;
}
.div1 {
    text-align: center;
}
.text {
    width: 544px;
    height: 90px;
}
.div2 {
    width: 1366px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 62px;
}
footer {
    width: 1366px;
    height: 395px;
    margin: 0 auto;
    display: flex;
    background-color: #121212;
    margin-top: 5px;
}
.card1 {
    width: 261px;
    height: 184px;
    margin-top: 102px;
    margin-left: 139px;
}
.fb {
    background-color: #3b5998;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.tweet {
    background-color: #55acee;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.google {
    background-color: #dc4e41;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
h2 {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.paragraph {
    margin-bottom: 20px;
    font-size: 14px;
    color: #b1b1b1;
}
.paragraph2 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 94px;
    margin-right: 84px;
    margin-bottom: 28px;    
}
li {
    font-size: 14px;
    color: #5863f8;
    margin-bottom: 15px;
}
.paragraph3 {
    font-size: 14px;
    color: #ffffff;
}
.card2 {
    margin-left: 199px;
    
    display: flex;
    justify-content: space-around;
}
body {
    font-family: 'Poppins', sans-serif;;
}